<section class="element-example-display">
  {{yield}}
</section>

<section class="element-example-snippet">
  <div class="divider">
    <span class="paper-font-caption type">Handlebars</span>
  </div>
  {{code-snippet name=(concat name '.hbs')}}

  {{#if hasJS}}
    <div class="divider">
      <span class="paper-font-caption type">Javascript</span>
    </div>
    {{code-snippet name=(concat name '.js')}}
  {{/if}}
</section>
