body {
  font-family: "Roboto", "Noto", sans-serif;
}

.outlet {
  padding: 30px;
}

section {
  margin: 20px 0;
}

section > p {
  margin-left: 30px;
}

/* TODO set this as default for paper-item links in custom-styles. */
paper-listbox a, paper-menu a {
  display: block;
  color: inherit;
  text-decoration: inherit;
}

paper-listbox a.active paper-item, paper-menu a.active paper-item {
  font-weight: bold;
}
/**/

.component-example {
  border: 1px solid #666;
  padding: 20px;
}

.polymer-logo {
  width: 32px;
  height: 32px;
  position: relative;
  top: 8px;
  left: 10px;
}

pre.hljs {
  font-family: 'Roboto Mono', 'Consolas', 'Menlo', monospace;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;

  /* code-editor max-width line is 630px */
}
