body {
  font-family: "Roboto", "Noto", sans-serif;
}

.outlet {
  padding: 30px;
}

/* paper-button link styling */
.paper-button-link {
  display: block;
  color: inherit;
  text-decoration: inherit;
}

/* TODO set this as default for paper-item links in custom-styles. */
paper-listbox a, paper-menu a {
  display: block;
  color: inherit;
  text-decoration: inherit;
}

paper-listbox a.active paper-item, paper-menu a.active paper-item {
  font-weight: bold;
}

.ember-logo {
  width: 300px;
  height: 300px;
  color: red;
  background-color: red;
}

.divider {
  border-bottom: 1px solid #ccc;
  text-align: right;
  padding-right: 10px;
}

.polymer-logo {
  margin-left: 15px;
  width: 30px;
  height: 18px;
}

.github-logo {
  width: 38px;
  height: 38px;
  margin-right: 10px;
}

pre.hljs {
  font-family: 'Roboto Mono', 'Consolas', 'Menlo', monospace;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  /* code-editor max-width line is 630px */
}

/* element-example */
.element-example {
  width: 700px;
  margin-bottom: 100px;
  margin-top: 15px;
}

.element-example-display {
  padding: 25px;
  padding-top: 35px;
  padding-bottom: 10px;
}

.element-example-result {
  padding-top: 15px;
}

.element-example-snippet {
  background-color: #f8f8f8;
}

.element-example-snippet pre {
  padding: 10px 30px 10px 4px;
  border-left: 1px solid #ececec;
  margin-left: 20px;
}


/* index element card */
.index-element-card {
  width: 300px;
  margin: 20px;
}
