{{#element-example name="drivers-license"}}
  {{#paper-checkbox update=(action (mut hasLicense))}}
    I have a drivers license
  {{/paper-checkbox}}

  <p>
    {{#if hasLicense}}
    You may drive 🚗
    {{else}}
    No hitting the roads for you yet mate! 🚧
    {{/if}}
  </p>
{{/element-example}}

<p>We could also use a traditional two-way binding.</p>

{{#element-example name="is-adult"}}
  {{#paper-checkbox checked=isAdult}}
    I am above eighteen
  {{/paper-checkbox}}

  <p>
    {{#if isAdult}}
    You may drink alcohol (in Europe)
    {{else}}
    You're too young for alcohol!
    {{/if}}
  </p>
{{/element-example}}
