{{paper-input label="Your name" value=name minlength=3
  auto-validate=true error-message="More than 3 characters required!"}}

{{paper-input type="number" label="Your age" value=age min=0 max=120}}

<p>
  Hey, my name is {{name}} and I'm {{age}} years old!
</p>
