<section class="element-page">
  <h1>
    {{snippet.name}}
    <span>
      <a href={{concat "https://elements.polymer-project.org/elements/"
                  snippet.name}}
         target="_tab" tabIndex="-1"
         title={{concat snippet.name " polymer element reference"}}>
        <img src="images/polymer.svg" alt="Polymer logo" class="polymer-logo">
      </a>
    </span>
  </h1>
  <div class="divider"></div>

  {{component (concat 'snippets/' snippet.component)}}
</section>
