{{#element-showcase name="paper-checkbox"}}
Note (!) toggling with spacebar does not work.
{{/element-showcase}}
{{#element-showcase name="paper-input"}}
Input element.
{{/element-showcase}}

{{!-- {{#element-showcase name="paper-dropdown-menu"}}
Dropdown menu.
{{/element-showcase}}

{{#element-showcase name="paper-listbox"}}
Paper listbox. Can bind any object.
{{/element-showcase}}

{{#element-showcase name="radio-button"}}
Radio button!
{{/element-showcase}}

{{#element-showcase name="paper-radio-group"}}
Radio group!
{{/element-showcase}}

{{#element-showcase name="paper-slider"}}
Slider. Value is bound to a number input.
{{/element-showcase}}

{{#element-showcase name="paper-toggle-button"}}
Toggles a boolean value.
{{/element-showcase}} --}}



<h4>elements to cover</h4>
<ul>
  <li>paper-input-elements</li>
    <ul>
      <li>paper-checkbox</li>
      <li>paper-dropdown-menu</li>
      <li>paper-input</li>
      <li>paper-listbox</li>
      <li>paper-radio-button</li>
      <li>paper-radio-group</li>
      <li>paper-slider</li>
      <li>paper-toggle-button</li>
    </ul>
  <li>paper-overlay-elements</li>
    <ul>
      <li>paper-dialog</li>
      <li>paper-dialog-behavior</li>
      <li>paper-dialog-scrollable</li>
      <li>paper-fab</li>
    </ul>
  <li>paper-ui-elements</li>
    <ul>
      <li>paper-button</li>
      <li>paper-badge</li>
      <li>paper-card</li>
      <li>paper-dropdown-menu</li>
      <li>paper-icon-button</li>
      <li>paper-menu</li>
      <li>paper-menu-button</li>
      <li>paper-progress</li>
      <li>paper-spinner</li>
      <li>paper-tabs</li>
      <li>paper-toolbar</li>
      <li>paper-tooltip</li>
    </ul>
  <li>paper-behaviors</li>
  <li>paper-ripple</li>
  <li>paper-styles</li>
</ul>
